@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

button,
input,
select,
textarea {
	font-family: inherit;
}

body {
	font-family: "Noto Sans", monospace;
	background-color: #212121;
	color: #fff;
	margin: 0;
	line-height: 1.5;
}
